body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c91a1a;
    /* Set a light background color */
}

.menu-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2c7c86;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Background image */
body {
    background-image: url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .menu-container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}